<%= simple_form_for(@publication) do |f| %>
  <div class="publi-form">
    <%= f.text_field :title, class: "form-title", placeholder: "Título" %>
    <%= f.trix_editor :content, class: "form-text", placeholder: "Compartilhe algo..." %>
    <%= f.association :user, as: :hidden, input_html: { value: current_user.id } %>
    <div class="publi-fields">
      <div class="fields-head">
        <div class="switch-field">
          <%= f.radio_button :publication_type, '0', checked: true%>
          <%= f.label :publication_type, "Gestão", value: "0"  %>
          <%= f.radio_button :publication_type, '1'%>
          <%= f.label :publication_type, "Técnico", value: "1" %>
        </div>
        
        <div class="dropdown">
          <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span id="selected">Categoria</span>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <%= f.association :tags, label: "", input_html: { class: 'dropdown-item' }  %>
          </div>
        </div>

        <%= f.input :files, multiple: true %>
        
      </div>
      <%= f.button :submit, "Publicar", class: "btn btn-success" %>
    </div>
  </div>
<% end %>

<script>
  $('.dropdown-menu option').click(function(){
    $('#selected').text($(this).text());
  });
</script>
