<%= simple_form_for(@publication) do |f| %>
  <div class="publi-form">
    <%= f.text_field :title, class: "form-title", placeholder: "Título", autocomplete: "off" %>
    <%= f.trix_editor :content, class: "form-text", placeholder: "Compartilhe algo..." %>
    <%= f.association :user, as: :hidden, input_html: { value: current_user.id } %>
    <div class="publi-fields">
      <div class="fields-head">
        <div class="switch-field">
          <%= f.radio_button :publication_type, '0', checked: true%>
          <%= f.label :publication_type, "Gestão", value: "0"  %>
          <%= f.radio_button :publication_type, '1'%>
          <%= f.label :publication_type, "Técnico", value: "1" %>
        </div>
        
        
        <%= f.association :tags, as: :check_boxes %>

        <%= f.input :files, label:"Arquivos", multiple: true %>
        
      </div>
      <%= f.button :submit, "Publicar", class: "btn btn-success" %>
    </div>
  </div>
<% end %>
