<p id="notice"><%= notice %></p>

<h1>Ejs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>University</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ejs.each do |ej| %>
      <tr>
        <td><%= ej.name %></td>
        <td><%= ej.university %></td>
        <td><%= link_to 'Show', ej %></td>
        <td><%= link_to 'Edit', edit_ej_path(ej) %></td>
        <td><%= link_to 'Destroy', ej, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ej', new_ej_path %>
