<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ej.name %>
</p>

<p>
  <strong>University:</strong>
  <%= @ej.university %>
</p>

<%= link_to 'Edit', edit_ej_path(@ej) %> |
<%= link_to 'Back', ejs_path %>
