<div class="header-navbar">
    <div class="header-start">
        <%= link_to root_path, class: "logo" do %>
            <b>bench</b>flow
        <% end %>
        <div class="header-section section-active">
            <%= link_to 'Minha EJ', root_path, class: "header-link" %>
        </div>
        <div class="header-section">
            <%= link_to 'MEJ', root_path, class: "header-link", id: "mej-link" %>
        </div>
    </div>
    <div class="header-end">
        <% if current_user %>
            <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
        <% else %>
            <%= link_to 'Login', new_user_session_path %>
        <% end %>
        <%= link_to root_path, class: "logo header-link" do %>
            <%= fa_icon "bars" %>
        <% end %>
    </div>
 </div>