<div class="header-navbar">
    <div class="header-start">
        <%= link_to root_path, class: "logo" do %>
            <b>bench</b>flow
        <% end %>
        <div class="header-section section-active">
            <%= link_to 'Minha EJ', root_path, class: "header-link" %>
        </div>
        <div class="header-section">
            <%= link_to 'MEJ', root_path, class: "header-link", id: "mej-link" %>
        </div>
        <div class="container">
            <div class="row mt-4">
                <%= search_form_for @search do |f| %>
                <div class="col-5">
                    <%= f.text_field :title_or_content_cont, class: "radius-left expand", placeholder: "Busque aqui uma publicação" %>
                </div>
                <div class="col">
                    <%= f.submit "Search", class: "radius-right button" %>
                </div>
                <% end %>
            </div>
        </div>    
    </div>
    <div class="header-end">
        
        <div class="dropdown">
            <button class="header-link bars" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= fa_icon "bars" %> 
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                <% if current_user %>
                    <%= link_to 'Sair da conta', destroy_user_session_path, method: :delete, class: "dropdown-item" %>
                <% else %>
                    <%= link_to 'Entrar na conta', new_user_session_path, class: "dropdown-item"  %>
                <% end %>
            </div>
        </div>
    </div>
 </div>