<!DOCTYPE html>
<html>
  <head>
    <title>BenchFlow</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css?family=Arima+Madurai:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% unless current_page?(new_user_session_path) or current_page?(new_user_registration_path) or current_page?(new_user_password_path) %>
      <%= render 'layouts/header' %>
      <%= render 'layouts/sidebar.html.erb' %>
      <div class="wrapper">
          <p id="notice"><%= notice %></p>
          <div class="main-container">
              <%= yield %>
          </div>
      </div>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
